/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */


body {
    background: url('../images/bg.jpg');
    font-family: 'Droid Sans', sans-serif;;
}

.clearfix {
    clear: both;
}

.wrap {
    width: 940px;
    margin: 0;
    line-height: 24px;
}

nav {
    padding: 0 10px;
    position: relative;
}
.menu li {
    float: left;
    position: relative;
}
.menu li a {
    color: #444;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    margin: 8px 8px;
    vertical-align: middle;
    text-decoration: none;
}
.menu li a:hover {
    color: #222;
}
