/*
.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}

.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}

.ball .shadow {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
-webkit-transform: rotateX(90deg) translateZ(-150px);
-moz-transform: rotateX(90deg) translateZ(-150px);
-ms-transform: rotateX(90deg) translateZ(-150px);
-o-transform: rotateX(90deg) translateZ(-150px);
transform: rotateX(90deg) translateZ(-150px);
z-index: -1;
}
.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

body {
  width: 300px;
  margin: 20px auto;
  /background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
}


body {
  width: 300px;
  margin: 20px auto;
  background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
}

*/





.ball {

	display: inline-block;
	width: 200px;
	height: 200px;
	position: relative;
	top: 0px;
	margin: 0;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);

	background-image: -webkit-radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
	background-image: -moz-radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
	background-image: -ms-radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
	background-image: -o-radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
	background-image: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	
	-webkit-animation: bounce 2s 1 forwards;
	-moz-animation: bounce 2s 1 forwards;
	-ms-animation: bounce 2s 1 forwards;
	animation: bounce 2s 1 forwards;
}

.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}

/* ease-in is slow to fast, when the ball drops */
/* ease-out is fast to slow, when the ball rebounds */

@-webkit-keyframes bounce {
	0% {
		top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	16% {
		top: 190px;
		-webkit-animation-timing-function: ease-out;
	}
	32% {
		top: 50px;
		-webkit-animation-timing-function: ease-in;
	}
	48% {
		top: 190px;
		-webkit-animation-timing-function: ease-out;
	}
	62% {
		top: 100px;
		-webkit-animation-timing-function: ease-in;
	}
	78% {
		top: 190px;
		-webkit-animation-timing-function: ease-out;
	}
	90% {
		top: 150px;
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		top: 190px;
		-webkit-animation-timing-function: ease-out;
	}
}

@-moz-keyframes bounce {
	0% {
		top: 0;
		-moz-animation-timing-function: ease-in;
	}
	16% {
		top: 190px;
		-moz-animation-timing-function: ease-out;
	}
	32% {
		top: 50px;
		-moz-animation-timing-function: ease-in;
	}
	48% {
		top: 190px;
		-moz-animation-timing-function: ease-out;
	}
	62% {
		top: 100px;
		-moz-animation-timing-function: ease-in;
	}
	78% {
		top: 190px;
		-moz-animation-timing-function: ease-out;
	}
	90% {
		top: 150px;
		-moz-animation-timing-function: ease-in;
	}
	100% {
		top: 190px;
		-moz-animation-timing-function: ease-out;
	}
}

@-ms-keyframes bounce {
	0% {
		top: 0;
		-ms-animation-timing-function: ease-in;
	}
	16% {
		top: 190px;
		-ms-animation-timing-function: ease-out;
	}
	32% {
		top: 50px;
		-ms-animation-timing-function: ease-in;
	}
	48% {
		top: 190px;
		-ms-animation-timing-function: ease-out;
	}
	62% {
		top: 100px;
		-ms-animation-timing-function: ease-in;
	}
	78% {
		top: 190px;
		-ms-animation-timing-function: ease-out;
	}
	90% {
		top: 150px;
		-ms-animation-timing-function: ease-in;
	}
	100% {
		top: 190px;
		-ms-animation-timing-function: ease-out;
	}
}

@keyframes bounce {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	16% {
		top: 190px;
		animation-timing-function: ease-out;
	}
	32% {
		top: 50px;
		animation-timing-function: ease-in;
	}
	48% {
		top: 190px;
		animation-timing-function: ease-out;
	}
	62% {
		top: 100px;
		animation-timing-function: ease-in;
	}
	78% {
		top: 190px;
		animation-timing-function: ease-out;
	}
	90% {
		top: 150px;
		animation-timing-function: ease-in;
	}
	100% {
		top: 190px;
		animation-timing-function: ease-out;
	}
}


   
.ball .shadow {
	position: absolute;
	height: 100%;
	width: 100px;
	background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);

	
	-webkit-transform: rotateX(90deg) translateZ(-150px);
	-moz-transform: rotateX(90deg) translateZ(-150px);
	-ms-transform: rotateX(90deg) translateZ(-150px);
	-o-transform: rotateX(90deg) translateZ(-150px);
	transform: rotateX(90deg) translateZ(-150px);
	z-index: -1;
	
	-webkit-animation: shadow 2s 1 forwards;
	-moz-animation: shadow 2s 1 forwards;
	-ms-animation: shadow 2s 1 forwards;
	animation: shadow 2s 1 forwards;
}

@-webkit-keyframes shadow {
	0% {
		width: 100px;
		-webkit-border-radius:10px/5px;
		margin-left: -5px;
		-webkit-animation-timing-function: ease-in; 
	}
	16% {
		width: 100px;
		-webkit-border-radius:100px/5px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-out;
	}
	32% {
		width: 30px;
		-webkit-border-radius: 30px/5px;
		margin-left: -15px;
		-webkit-animation-timing-function: ease-in;
	}
	48% {
		width: 100px;
		-webkit-border-radius:100px/5px;
		margin-left: -50px;		
		-webkit-animation-timing-function: ease-out;
	}
	62% {
		width: 58px;
		-webkit-border-radius:58px/5px;
		margin-left: -29px;	
		-webkit-animation-timing-function: ease-in;
	}
	78% {
		width: 100px;
		-webkit-border-radius:100px/5px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-out;
	}
	90% {
		width: 80px;
		-webkit-border-radius:80px/5px;
		margin-left: -40px;
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		width: 100px;
		-webkit-border-radius:100px/5px;
		margin-left: -50px;
		-webkit-animation-timing-function: ease-out;
	}
}

@-moz-keyframes shadow {
	0% {
		width: 10px;
		-moz-border-radius:10px/5px;
		margin-left: -5px;
		-moz-animation-timing-function: ease-in; 
	}
	16% {
		width: 100px;
		-moz-border-radius:100px/5px;
		margin-left: -50px;
		-moz-animation-timing-function: ease-out;
	}
	32% {
		width: 30px;
		-moz-border-radius: 30px/5px;
		margin-left: -15px;
		-moz-animation-timing-function: ease-in;
	}
	48% {
		width: 100px;
		-moz-border-radius:100px/5px;
		margin-left: -50px;		
		-moz-animation-timing-function: ease-out;
	}
	62% {
		width: 58px;
		-moz-border-radius:58px/5px;
		margin-left: -29px;	
		-moz-animation-timing-function: ease-in;
	}
	78% {
		width: 100px;
		-moz-border-radius:100px/5px;
		margin-left: -50px;
		-moz-animation-timing-function: ease-out;
	}
	90% {
		width: 80px;
		-moz-border-radius:80px/5px;
		margin-left: -40px;
		-moz-animation-timing-function: ease-in;
	}
	100% {
		width: 100px;
		-moz-border-radius:100px/5px;
		margin-left: -50px;
		-moz-animation-timing-function: ease-out;
	}
}

@-ms-keyframes shadow {
	0% {
		width: 10px;
		border-radius:10px/5px;
		margin-left: -5px;
		-ms-animation-timing-function: ease-in; 
	}
	16% {
		width: 100px;
		border-radius:100px/5px;
		margin-left: -50px;
		-ms-animation-timing-function: ease-out;
	}
	32% {
		width: 30px;
		border-radius: 30px/5px;
		margin-left: -15px;
		-ms-animation-timing-function: ease-in;
	}
	48% {
		width: 100px;
		border-radius:100px/5px;
		margin-left: -50px;		
		-ms-animation-timing-function: ease-out;
	}
	62% {
		width: 58px;
		border-radius:58px/5px;
		margin-left: -29px;	
		-ms-animation-timing-function: ease-in;
	}
	78% {
		width: 100px;
		border-radius:100px/5px;
		margin-left: -50px;
		-ms-animation-timing-function: ease-out;
	}
	90% {
		width: 80px;
		-ms-border-radius:80px/5px;
		margin-left: -40px;
		-ms-animation-timing-function: ease-in;
	}
	100% {
		width: 100px;
		border-radius:100px/5px;
		margin-left: -50px;
		-ms-animation-timing-function: ease-out;
	}
}

@keyframes shadow {
	0% {
		width: 10px;
		border-radius:10px/5px;
		margin-left: -5px;
		animation-timing-function: ease-in; 
	}
	16% {
		width: 100px;
		border-radius:100px/5px;
		margin-left: -50px;
		animation-timing-function: ease-out;
	}
	32% {
		width: 30px;
		border-radius: 30px/5px;
		margin-left: -15px;
		animation-timing-function: ease-in;
	}
	48% {
		width: 100px;
		border-radius:100px/5px;
		margin-left: -50px;		
		animation-timing-function: ease-out;
	}
	62% {
		width: 58px;
		border-radius:58px/5px;
		margin-left: -29px;	
		animation-timing-function: ease-in;
	}
	78% {
		width: 100px;
		border-radius:100px/5px;
		margin-left: -50px;
		animation-timing-function: ease-out;
	}
	90% {
		width: 80px;
		border-radius:80px/5px;
		margin-left: -40px;
		animation-timing-function: ease-in;
	}
	100% {
		width: 100px;
		border-radius:100px/5px;
		margin-left: -50px;
		animation-timing-function: ease-out;
	}
}

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}


body {
  width: 300px;
  margin: 20px auto;
  background-repeat: no-repeat;
}