
/* 
CSS provides several ways to select the different pieces of your HTML markup for styling.
The most general CSS statement is for an element selector, 
where the property-value pairs are preceded by the name of the element, e.g.
 */

/*
body { background-color: rgb(207, 175, 128); } 
body { background-color: #CFAF80; }


body { background-color: rgb(253,245,230); font-family: Times, TimesNR, Georgia, serif; }
 */
 
 
html {
	background-color: #000000;
}

*{
	padding: 0px;
	margin: 0px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: #8BAEB8;
    text-decoration: none;
}

.active {
	color: #4A90B8;
}


.logo{
	font-family: 'Russo One', "Helvetica Neue", "Helvetica"	,arial, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-size: 32px;
	text-align: center;
	display: inline-block;
	margin-top: 0px;
	padding-left: 20px;
	position: fixed;
	top: 20px;
}

nav {
	font-family: 'Russo One', "Helvetica Neue", "Helvetica"	,arial, sans-serif;
	color: #FFFFFF;
	font-weight: lighter;
	letter-spacing: 1px;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	margin-top: 0px;
	padding-left: 175px;
	position: fixed;
	top: 32px;
}

.info{
	font-family: 'Russo One', "Helvetica Neue", "Helvetica"	,arial, sans-serif;
	color: #FFFFFF;
	position: absolute;
	font-size: 24px;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
}

.infosmall{
	font-family: 'Russo One', "Helvetica Neue", "Helvetica"	,arial, sans-serif;
	color: #FFFFFF;
	position: fixed;
	font-size: 18px;
	top:60%;
	left:80%;
	transform: translateX(-50%) translateY(-50%);
}

.incsize{
	font-size: 48px;
}

video{
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
}

.poster{
	position: absolute;
	margin-top:100px;
	margin-bottom:20px;
	left:40%;
	transform: translateX(-50%);
}

.posterbg{
	background-color: #242424;
}

img{
	transition: all 1s;
}

img:hover{
	transform: scale(1.02);
}