
/* 
CSS provides several ways to select the different pieces of your HTML markup for styling.
The most general CSS statement is for an element selector, 
where the property-value pairs are preceded by the name of the element, e.g.
 */

/*
body { background-color: rgb(207, 175, 128); } 
body { background-color: #CFAF80; }
 */

body { background-color: rgb(205,192,176); font-family: Times, TimesNR, Georgia, serif; }

